.login{
    height: 100vh;
    background-color: rgb(193,190,255);
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow:hidden;

        .left{
            flex: 1;
            background: linear-gradient(rgba(39,11,96,0.5), rgba(95, 77, 132, 0.5) ), 
            url("https://m.media-amazon.com/images/M/MV5BOGIwYjZlOTctZTNhOC00OTdiLWI5ZWItOTdiMWRjMjUwMDlhXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_.jpg"), center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap:30px;
            color: white;

            h1{
                font-size: 100px;
                line-height: 100px;
            }
            p{
                font-size: 14px;
            }
            span{
                font-size: 14px;
            }
            button {
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color:rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }

        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap:30px;
                input{
                    border: none;
                    border-bottom: 1px solid black;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}